body{
    background: darkslateblue;
    max-width: 100%;
    max-height: 100%;
}

.imgBox{
    background-image: url('photo.png');
    position: relative;
    top: 10px;
    left: 10px;
    height: 500px;
    width: 500px;
    cursor: pointer;
    background-size: cover;
}

.Box{
    display: inline-block;
    height: 600px;
    width: 600px;
    margin: 10px;
    background-color: white;
    border: 3px black solid;
}

.hold{
    border: solid red 4px;
}

.dashed{
    background: rgb(214, 206, 206);
    border-style: dashed;
}

.hide{
    display: none;
}
